@page "/searchdriver"
@inject IHttpClientFactory _clientFactory

<h3>Search for a Driver</h3>
<p><input @onchange="@((ChangeEventArgs __e) => Name = __e.Value.ToString())" @*@oninput="OnPasswordChanged"*@/></p>
@if (drivers == null)
{
    <h4>Search for a driver</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Nationality</th>
                <th>Born</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var driver in drivers)
            {
                <tr>
                    <td>@driver.Code</td>
                    <td>@driver.GivenName</td>
                    <td>@driver.FamilyName</td>
                    <td>@driver.Nationality</td>
                    <td>@driver.DateOfBirth</td>
                    <td><a href="@driver.Url">Wiki</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public Driver[] drivers;
    private FetchedData fetchedData;
    public string Name { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var Http = _clientFactory.CreateClient("ErgastClient");
        fetchedData = await Http.GetFromJsonAsync<FetchedData>($"api/f1/drivers/{Name}.json");
        drivers = fetchedData.MRData.DriverTable.Drivers;
    }

    public class FetchedData
    {
        public MrData MRData { get; set; }
    }

    public class MrData
    {
        public string Xmlns { get; set; }
        public string Series { get; set; }
        public string Url { get; set; }
        public string Limit { get; set; }
        public string Offset { get; set; }
        public string Total { get; set; }
        public DriverTable DriverTable { get; set; }
    }

    public class DriverTable
    {
        public string Season { get; set; }
        public Driver[] Drivers { get; set; }
    }

    public class Driver
    {
        public string DriverId { get; set; }
        public string Code { get; set; }
        public string Url { get; set; }
        public string GivenName { get; set; }
        public string FamilyName { get; set; }
        public DateTimeOffset DateOfBirth { get; set; }
        public string Nationality { get; set; }
        public int PermanentNumber { get; set; }
    }
}
